@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono',monospace;
}


header{
    text-align: center;

}
h1{
    text-align: center;
}

.unterdiv {
   text-align: center;
    width: 25%;
    align-content: center;
    justify-content: space-evenly;
}

body{
    background: #2F3438;
    background-size: cover;
}


.coding{
    display: flex;
    justify-content: space-evenly;
}




.text-container{
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.navigation{
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.software-dev-title{
    text-align: center;
    padding: 5px;
}

.software-dev-article {
    padding-left: 250px;
    padding-right: 250px;
    font-weight: bolder;
}

.unterdiv2  {
    justify-content: space-evenly;
    align-content: center   ;
}

body {
    color: white;
    font-family: "Courier New", monospace;
}

.nav {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.nav:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
    filter: brightness(1.5);
}

.nav:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #2F3438;
}

.nav span{
    position: relative;
    z-index: 1;
}

.nav i {
    position: absolute;
    inset: 0;
    display: block;
}

.hobbysubdiv {
    justify-content: space-evenly;
    text-align: center;
    padding-top: 60px;
    list-style-position: inside;
}
.hobbysubdiv li{
    padding: 3px;
}

.hobbysubdiv img{
    padding-bottom: 20px;
}

.selfie{
    border: 5px solid   white;
    filter:brightness(1);

}
.selfie:hover{
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
    filter: brightness(1.1);
    transition: 0.4s;
}


.unterdiv:hover{
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
    filter: brightness(1.4);
    transition: 0.4s;
}